#post_form.clear_after
  - form_for @post do |form|
    = form.error_messages
    %div
      = form.label :title, "Title", :class => "required"
      = form.text_field :title
    %div
      = form.label :body, "Body", :class => "required"
      = form.text_area :body
    %div= form.submit submit_text