!!!
%html
  %head
    %meta{ "http-equiv" => "content-type", :content => "text/html;charset=UTF-8" }/
    %title= "Posts: #{controller.action_name}"
    = stylesheet_link_tag :defaults
    = javascript_include_tag :defaults
    = javascript_auto_include_tags
    = behaveJS_bootstrap
  %body
    #wrapper
      #header
        = link_to image_tag("banner.png"), root_path
      #content
        - unless flash.empty?
          %p#flash= flash[:notice]
        
        #new_post.clear_after= button_to "New post", new_post_path if admin?
        = yield
      #pusher
    #footer 
      %p= "A nice little website to talk about the world, designed by evansenter at gmail dot com." + logged_in_notice
    = analytics_code